<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>205914457312-7d62h8hq9r327n5uan10gnq8onkeii09.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.205914457312-7d62h8hq9r327n5uan10gnq8onkeii09</string>
	<key>API_KEY</key>
	<string>AIzaSyDlZLAvjqtIkuW6Ckehf-pTGEHUom9r-lc</string>
	<key>GCM_SENDER_ID</key>
	<string>205914457312</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mobiquest.centriomall</string>
	<key>PROJECT_ID</key>
	<string>centrio-mall</string>
	<key>STORAGE_BUCKET</key>
	<string>centrio-mall.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:205914457312:ios:88a3c0ff9c54f8976fbc85</string>
</dict>
</plist>